body{
	height: 100%;
	overflow: hidden;
}

#game-container{
	
	position:relative;
	top: -100px;
	left: -10px;
}
#game-container > img{
	max-width:100%;
}

#game-buttons > button
{
	position:absolute;
    margin: 100px;
	
}

#inventoryItem
{
	position: absolute;
}

